* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

li {
  list-style: none; }

.header {
  height: 50px;
  background-color: #eee; }

.container {
  margin: 0 auto;
  display: flex; }
  .container .sidebar {
    width: 30%;
    height: 100%;
    position: absolute;
    transition: all .3s ease;
    transform: translateX(-100%);
    background-color: #7FDBFF; }
    .container .sidebar.open {
      transform: translateX(0%); }
  .container .content {
    background-color: #b2e9ff; }
